.jitsi-window {
   margin: 0 auto;
   display: block;
}

.grid-controller {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    padding: 10px;
    justify-content: center;
  }

  .grid-item {
    font-size: 30px;
    text-align: center;
  }